#############################################################################################
#
# Backup/Restore Configuration 3.0
#
# (C) 2019 AdorableIllusion <code@base.adorable-illusion.com>
#
#############################################################################################

targets:

  all:
    description: "Everything that is being backed up."
    type: mixed
    backup_targets:
      - "all_changed"
      - "photo"      

  all-changed:
    description: "Everything that is changing regularly and being backed up."
    type: mixed
    backup_targets:
      - "adorable_illusion"
      - "janedoe"

  janedoe:
    description: "Jane Doe's files."
    type: mixed 
    backup_targets:
      - "janedoe-local"
      - "janedoe-cloud"

  janedoe-local:
    type: local
    delete: false
    sources:
      -
        path: "/volume1/JaneDoe"
        runtime_initial: 300 
        runtime_update: 8
        excludes:
          - "Video/**"
      -
        path: "/volume1/JaneDoe2"
        runtime_initial: 1220
        runtime_update: 16
        includes:
           - "Foo/xmas*/**"
           - "Example/**"

  janedoe-cloud:
    type: cloud
    target: "BUCKETNAME:"
    delete: false
    sources:
      -
        path: "/volume1/JaneDoe"
        runtime_initial: 1220
        runtime_update: 16
        excludes:
          - "Video/**"

